## .NET / Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
artifacts/

# Visual Studio
.vs/
*.csproj.user
*.rsuser
*.sln.iml

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
coverage*/

# Build artifacts
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Publish
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.publishproj
PublishScripts/

# Azure Functions
local.settings.json

# JetBrains Rider
.idea/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Cache
*.[Cc]ache
!*.[Cc]ache/

# Misc
~$*
*~
*.pfx
*.publishsettings
node_modules/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
